.header {
  &__top {
    height: 52px;
    background: $dark-grey-color-1;
  }
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__contacts {
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  &__contacts-item {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &__contacts-img {
    width: 20px;
    height: 20px;
  }
  &__contacts-text {
    color: $white-color;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
  }
  &__call {
    margin-left: auto;

    color: $blue-color;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }
  &__main {
    height: 112px;
    background: rgba($dark-grey-color-1, 0.76);
    position: relative;
    z-index: 1;
  }
  &__menu {
    margin-left: auto;
  }
  &__menu-list {
    display: flex;
    gap: 32px;
  }
  &__menu-item {
    color: $white-color;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    transition: 0.2s;

    &:hover {
      color: $blue-color;
      text-decoration-line: underline;
    }
  }
}
