.button {
  height: 49px;
  border: 2px solid $blue-color;
  padding: 16px 20px;
  background: $blue-color;

  color: $white-color;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 16.8px;
  text-transform: uppercase;

  display: block;

  &:hover {
    border: 2px solid $blue-color;
    background: $white-color;

    color: $blue-color;

    cursor: url("../icons/bl_hand-pointer.svg"), pointer;
  }
  &-grey {
    border: 2px solid $grey-color;
    background: $grey-color;

    color: $black-color;

    &:hover {
      border: 2px solid $grey-color;
      background: $white-color;

      color: $black-color;

      cursor: url("../icons/bl_hand-pointer.svg"), pointer;
    }
  }
}
