@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* colors */
.header__top {
  height: 52px;
  background: #010101;
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__contacts {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__contacts-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__contacts-img {
  width: 20px;
  height: 20px;
}
.header__contacts-text {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.header__call {
  margin-left: auto;
  color: #4f8ff0;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}
.header__main {
  height: 112px;
  background: rgba(1, 1, 1, 0.76);
  position: relative;
  z-index: 1;
}
.header__menu {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  gap: 32px;
}
.header__menu-item {
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  transition: 0.2s;
}
.header__menu-item:hover {
  color: #4f8ff0;
  text-decoration-line: underline;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.logo {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 900;
  line-height: 120%;
  text-transform: lowercase;
  max-width: 312px;
}
.logo__highlight {
  color: #4f8ff0;
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.title {
  color: #222;
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.title::after {
  display: block;
  margin: 0 auto;
  content: "";
  background: #4f8ff0;
  width: 50px;
  height: 3px;
  margin-top: 10px;
}
.title-left {
  text-align: left;
}
.title-left::after {
  margin: 0;
  margin-top: 10px;
}

.subtitle {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.card-services {
  position: relative;
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: 0.3s;
}
.card-services__img {
  width: 35px;
  height: 35px;
}
.card-services__title {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
}
.card-services__subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.card-services:hover {
  background: #4f8ff0;
  color: #fff;
  transform: scale(1.05);
  cursor: url("../icons/wt_hand-pointer.svg"), pointer;
}
.card-services:hover .card-services__corner {
  border-color: #fff;
}
.card-services:hover path {
  fill: #fff;
}

.home {
  background: url("../img/main_banner.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding-top: 262px;
  padding-bottom: 268px;
  margin-top: -112px;
}
.home__title {
  max-width: 642px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.home__highlight {
  margin-bottom: 8px;
  color: #4f8ff0;
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.home__descr {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.home__button {
  margin: 0 auto;
}

.services {
  padding: 80px 0;
  background-color: #f7f7f7;
}
.services__title {
  text-align: center;
  margin-bottom: 37px;
}
.services__subtitle {
  max-width: 920px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.services__cards-wrp {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  row-gap: 38px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding-bottom: 48px;
}
.services__button {
  width: 138px;
  margin: 0 auto;
}

.corner {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 10;
}
.corner__lt {
  top: 20px;
  left: 20px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
.corner__rt {
  top: 20px;
  right: 20px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.corner__rb {
  right: 20px;
  bottom: 20px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.corner__lb {
  left: 20px;
  bottom: 20px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.button {
  height: 49px;
  border: 2px solid #4f8ff0;
  padding: 16px 20px;
  background: #4f8ff0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 16.8px;
  text-transform: uppercase;
  display: block;
}
.button:hover {
  border: 2px solid #4f8ff0;
  background: #fff;
  color: #4f8ff0;
  cursor: url("../icons/bl_hand-pointer.svg"), pointer;
}
.button-grey {
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  color: #222;
}
.button-grey:hover {
  border: 2px solid #e6e6e6;
  background: #fff;
  color: #222;
  cursor: url("../icons/bl_hand-pointer.svg"), pointer;
}

.about {
  padding: 80px 0;
  background-color: #fff;
}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about__title {
  margin-bottom: 37px;
}
.about__title .title__highlight {
  color: #4f8ff0;
  font-weight: 900;
}
.about__text-wr {
  max-width: 720px;
  width: 100%;
}
.about__subtitle {
  max-width: 720px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin-bottom: 32px;
  line-height: 150%;
}
.about__img {
  max-width: 535px;
  width: 100%;
  height: 359px;
  box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
}
.about__button-wr {
  display: flex;
}
.about__button {
  display: block;
  padding: 16px 24px;
  margin-right: 24px;
}

.lawyers {
  padding: 80px 0;
  background-color: #f7f7f7;
}
.lawyers__title {
  text-align: center;
  margin-bottom: 37px;
}
.lawyers__subtitle {
  max-width: 920px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.lawyers__cards-wrp {
  max-width: 1320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 24px;
  margin-bottom: 80px;
}

.card-lawyers {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 312px;
  width: 100%;
  height: 414px;
  padding-bottom: 24px;
  cursor: url("../icons/wt_hand-pointer.svg"), pointer;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
}
.card-lawyers__img {
  height: 320px;
  display: block;
  margin-bottom: 24px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.card-lawyers__title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 10px;
}
.card-lawyers__subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}

.card-lawyers-hidden {
  position: absolute;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */